#textdomain wesnoth-vp
[unit_type]
    id=Deep Saurian Artificer
    name= _ "Saurian Artificer"
    race=deep-lizard
    image="units/deep-saurians/S1-blacksmith/S3-artificer/artificer.png"
    hitpoints=55
    movement_type=dwarvishfoot
    movement=5
    experience=152
	num_traits=2
	ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_HEALTHY}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    description= _ "Saurians who dabble in fire magic tend to set themselves on fire due to their ineptitude, which makes for a more romantic setting for the slaughter. - Grimfoot Hammerhead"
    die_sound=hiss-die.wav
    #{DEFENSE_ANIM "units/deep-saurians/S1-blacksmith/S3-artificer/artist-defend2.png" "units/deep-saurians/S1-blacksmith/S3-artificer/artist-defend1.png" hiss-hit.wav }
    [standing_anim]
        start_time=0
		[frame]
			image="units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-bob[1~6].png:200"
		[/frame]
    [/standing_anim]
	
    [movement_anim]
        start_time=0
		[frame]
			image="units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-run[1~6].png:50"
		[/frame]
    [/movement_anim]
	
    [abilities]
        {ABILITY_STEADFAST_ARMOR2}
    [/abilities]
	
    [resistance]
		pierce=60
        fire=50
		cold=100
		arcane=80
    [/resistance]

    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer.png
        range=melee
        type=impact
        damage=10
        number=3
    [/attack]
    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer-dwarven-runic.png
        range=melee
        type=fire
        damage=10
        number=3
    [/attack]

    [attack_anim]
        [filter_attack]
            type=impact
        [/filter_attack]
        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
	    start_time=0
		start_time=-300
        [if]
			hits=yes
			[frame]
				duration=150
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee1.png
			[/frame]
			[frame]
				duration=50
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee2.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee3.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee4.png
				sound=mace.wav
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=150
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee1.png
			[/frame]
			[frame]
				duration=50
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee2.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee3.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee4.png
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
    [/attack_anim]

        [attack_anim]
        [filter_attack]
            type=fire
        [/filter_attack]
        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
	    start_time=0
		start_time=-350
        [if]
			hits=yes
			[frame]
				duration=200
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire1.png
			[/frame]
			[frame]
				duration=50
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire2.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire3.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire4.png
				sound=mace.wav
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				duration=200
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire1.png
			[/frame]
			[frame]
				duration=50
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire2.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire3.png
			[/frame]
			[frame]
				duration=100
				image=units/deep-saurians/S1-blacksmith/S3-artificer/artificer-se-melee-fire4.png
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
    [/attack_anim]
[/unit_type]
