#textdomain wesnoth-vp
[unit_type]
    id=Deep Saurian Artisan
    name= _ "Saurian Artisan"
    race=deep-lizard
    image="units/deep-saurians/S1-blacksmith/S3-artisan/artist.png"
    hitpoints=57
    movement_type=deep-lizard
    movement=5
    experience=152
	num_traits=2
	ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_HEALTHY}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=mixed fighter
    description= _ "The so-called artisans of the saurians only manage to artificially prolong their lifespans by standing back and throwing pebbles at the enemy. They still think that rocks can damage a dwarf. It’s like trying to kill a flower by watering it. - Grimfoot Hammerhead"
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/deep-saurians/S1-blacksmith/S3-artisan/artist-defend2.png" "units/deep-saurians/S1-blacksmith/S3-artisan/artist-defend1.png" hiss-hit.wav }
    {STANDING_ANIM_DIRECTIONAL_6_FRAME "units/deep-saurians/S1-blacksmith/S3-artisan/artist"}
    {MOVING_ANIM_DIRECTIONAL_6_FRAME "units/deep-saurians/S1-blacksmith/S3-artisan/artist"}

    [resistance]
		impact=100
		blade=100
    [/resistance]

    [attack]
        name=hammer
        description=_"hammer"
        icon=attacks/hammer.png
        range=melee
        type=impact
        damage=9
        number=3
    [/attack]
    [attack]
        name=thunderstick
        description= _ "mortar"
        icon="attacks/thunderstick.png"
        type=impact
        range=ranged
		[specials]
			{WEAPON_SPECIAL_MARKSMAN}
        [/specials]
        damage=30
        number=1
    [/attack]
    [attack]
        name=hatchet
        description=_"hatchet"
        icon=attacks/hatchet.png
        type=blade
        range=ranged
        damage=15
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=hammer
        [/filter_attack]
        start_time=-350
        offset=0.0~0.3,0.3~0.6,0.6~0.3,0.3~0.0
        [frame]
            image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-se-melee[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS mace.wav {SOUND_LIST:MISS} -150}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=hatchet
        [/filter_attack]
        {MISSILE_FRAME_PICKAXE}
        start_time=-350
        [frame]
            image="units/deep-saurians/S1-blacksmith/S3-artisan/artist.png:150"
        [/frame]
        {SOUND:HIT_AND_MISS hatchet.wav hatchet-miss.wav -50}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=thunderstick
        [/filter_attack]
        start_time=-750
        [if]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_SOUTH -6 -5}
            direction=s
            hits=yes
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged3.png:300"
            [/frame]
        [/if]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS -4 6}
            direction=s
            hits=no
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:300"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_NORTH -3 20}
            direction=ne,nw
            hits=yes
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged3.png:300"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 5 0}
            direction=ne,nw
            hits=no
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:300"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_NORTH 4 21}
            direction=n
            hits=yes
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged3.png:300"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 3 -2}
            direction=n
            hits=no
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:300"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_HIT_DIAG_SOUTH -10 10}
            direction=se,sw
            hits=yes
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged3.png:300"
            [/frame]
        [/else]
        [else]
            {MISSILE_FRAME_MUZZLE_FLARE_MISS 4 11}
            direction=se,sw
            hits=no
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:100"
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged2.png:400"
                sound=mace.wav
            [/frame]
            [frame]
                image="units/deep-saurians/S1-blacksmith/S3-artisan/artist-ranged1.png:300"
            [/frame]
        [/else]
        {SOUND:HIT_AND_MISS thunderstick.ogg thunderstick-miss.ogg -250}
    [/attack_anim]
[/unit_type]
