#textdomain wesnoth-vp
[unit_type]
    id=Deep Saurian Champion
    name= _ "Saurian Champion"
    race=deep-lizard
    image="units/deep-saurians/S1-fighter/S3-combatant/combatant.png"
    profile="portraits/saurians/deep-naxaffz.png"
    hitpoints=60
    movement_type=deep-lizard
    movement=6
    experience=150
	num_traits=2
	ignore_race_traits=yes
    {TRAIT_STRONG}
    {TRAIT_HEALTHY}
    {TRAIT_INTELLIGENT}
    {TRAIT_RESILIENT}
    level=3
    alignment=chaotic
    advances_to=null
    {AMLA_DEFAULT}
    cost=48
    usage=fighter
    description= _ "The best the lizards can offer, the so-called champions make for good boot leather after careful processing. - Grimfoot Hammerhead"
    die_sound=hiss-die.wav
    {DEFENSE_ANIM "units/deep-saurians/S1-fighter/S3-combatant/combatant-se-defend2.png" "units/deep-saurians/S1-fighter/S3-combatant/combatant-se-defend1.png" hiss-hit.wav }
    {STANDING_ANIM_DIRECTIONAL_6_FRAME "units/deep-saurians/S1-fighter/S3-combatant/combatant"}
    {MOVING_ANIM_DIRECTIONAL_6_FRAME "units/deep-saurians/S1-fighter/S3-combatant/combatant"}
	
    [resistance]
		impact=100
		pierce=100
    [/resistance]

    [attack]
        name=halberd
        description=_"halberd stab"
        icon=attacks/halberd.png		
        range=melee
        type=pierce
        damage=12
        number=3
    [/attack]
    [attack]
        name=halberd
        description=_"halberd slash"
		icon=attacks/halberd.png
        range=melee
        type=blade
        damage=16
        number=2
    [/attack]
    [attack]
        name=spear
        description=_"throwing spear"
        icon=attacks/spear.png		
        range=ranged
        type=pierce
        [specials]
            {WEAPON_SPECIAL_MARKSMAN}
        [/specials]		
        damage=6
        number=2
    [/attack]

    [attack_anim]
        [filter_attack]
            name=halberd
            type=pierce 
        [/filter_attack]
        start_time=-250
        [frame]
            image="units/deep-saurians/S1-fighter/S3-combatant/combatant-se-run2.png:300"
        [/frame]
        {SOUND:HIT_AND_MISS spear.ogg spear-miss.ogg -150}
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=halberd
            type=blade
        [/filter_attack]
        start_time=-350
        [frame]
            image="units/deep-saurians/S1-fighter/S3-combatant/combatant-blade[1~4].png:100"
        [/frame]
        {SOUND:HIT_AND_MISS axe.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]

    [attack_anim]
        [filter_attack]
            name=spear
        [/filter_attack]
        missile_start_time=-150
        [missile_frame]
            offset=-0.2~1.0
            image="projectiles/spear-n.png:150"
            image_diagonal="projectiles/spear-ne.png:150"
        [/missile_frame]
        start_time=-450
        throw_sound_start_time=-150
        sound_start_time=-100
        [throw_sound_frame]
            sound={SOUND_LIST:THROW}
        [/throw_sound_frame]
        [frame]
            image="units/deep-saurians/S1-fighter/S3-combatant/combatant-ranged[1~4].png:100"
        [/frame]
    [/attack_anim]
[/unit_type]
