#textdomain wesnoth-units
[unit_type]
    id=Saurian Auspex
    name= _ "Saurian Auspex"
    race=lizard
    image="units/saurians/auspex.png"
    ellipse="misc/ellipse"
    profile="portraits/saurians/augur.png"
    {MAGENTA_IS_THE_TEAM_COLOR}
    hitpoints=25
    movement_type=lizard
    movement=7
    experience=28
    level=2
    alignment=chaotic
    advances_to=Saurian Haruspex
    advancefrom=Saurian Augur
    undead_variation=saurian
    cost=16
    usage=healer
    description= _ "One of the great mysteries of the Saurian tribes is their study of the stars. While much of the Saurian culture is primative all Saurian magic users are thoroughly schooled in the astrology and astronomy of the world, and are immensely skilled in using the stars, moons, and planets as divinitory tools and a source of power."+{SPECIAL_NOTES}+{SPECIAL_NOTES_MAGICAL}+{SPECIAL_NOTES_LEADERSHIP}+{SPECIAL_NOTES_HEALS}
    die_sound=hiss-die.wav
    [portrait]
        size=400
        side="left"
        mirror="false"
        image="portraits/saurians/transparent/augur.png"
    [/portrait]
    [portrait]
        size=400
        side="right"
        mirror="true"
        image="portraits/saurians/transparent/augur.png"
    [/portrait]
    [abilities]
        {ABILITY_HEALS}
        {ABILITY_LEADERSHIP_LEVEL_2}
    [/abilities]
    [leading_anim]
        start_time=-300
        [frame]
            duration=50
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            duration=60
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-2.png
        [/frame]
        [frame]
            duration=70
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            duration=80
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            duration=90
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/leading_anim]
    [healing_anim]
        start_time=-300
        [frame]
            duration=50
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            duration=60
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-2.png
        [/frame]
        [frame]
            duration=70
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            duration=80
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            duration=90
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/healing_anim]
    [attack]
        name=staff
        description=_"staff"
        icon=attacks/staff-magic.png
        type=impact
        range=melee
        damage=5
        number=2
    [/attack]
    [attack]
        name=curse
        description=_"curse"
        type=cold
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
        range=ranged
        damage=6
        number=3
        icon=attacks/curse.png
    [/attack]
    [attack_anim]
        [filter_attack]
            name=curse
        [/filter_attack]
        {MISSILE_FRAME_ICE}

        start_time=-300
        [frame]
            duration=50
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-1.png
        [/frame]
        [frame]
            duration=60
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-2.png
            sound=magicmissile.wav
        [/frame]
        [frame]
            duration=70
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-3.png
        [/frame]
        [frame]
            duration=80
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-4.png
        [/frame]
        [frame]
            duration=90
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-5.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-6.png
        [/frame]
        [frame]
            duration=100
            image="units/saurians/auspex.png"
            halo=halo/saurian-magic-halo-7.png
        [/frame]
    [/attack_anim]
    [attack_anim]
        [filter_attack]
            name=staff
        [/filter_attack]
        offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
        start_time=-250
        [frame]
            duration=150
            image="units/saurians/auspex.png"
        [/frame]
        [if]
            hits=yes
            [frame]
                duration=100
                image="units/saurians/auspex.png"
                sound=staff.wav
            [/frame]
        [/if]
        [else]
            hits=no
            [frame]
                duration=100
                image="units/saurians/auspex.png"
                sound={SOUND_LIST:MISS}
            [/frame]
        [/else]
        [frame]
            duration=100
            image="units/saurians/auspex.png"
        [/frame]
        [frame]
            duration=90
            image="units/saurians/auspex.png"
        [/frame]
        [frame]
            duration=80
            image="units/saurians/auspex.png"
        [/frame]
        [frame]
            duration=50
            image="units/saurians/auspex.png"
        [/frame]
    [/attack_anim]
[/unit_type]
