#textdomain wesnoth-units
[unit_type]
	id=Saurian Blight
	name= _ "Saurian Blight"
	race=undead-lizard
	{TRAIT_FEARLESS_MUSTHAVE}
	image="units/undead-saurians/S1-husk/saurian-terror.png"
    profile="portraits/saurians/saurianprince-zombie.png"
	hitpoints=64
	movement_type=undead-lizard
	movement=5
	[resistance]
		blade=100
		impact=100
		cold=120
		arcane=90
	[/resistance]
	experience=150
	level=3
	alignment=chaotic
	advances_to=null
        {AMLA_DEFAULT}
	cost=42
	usage=fighter
	description= _ "The final and most horrifying form of a Saurian Wretch is the Saurian Blight. What was once a living being is now a walking embodiment of decay and death. Its rotting form emits a foul aura, poisoning and corrupting everything in its path. With immense strength and an insatiable hunger for destruction, these abominations are the ultimate expression of their creators' dark rituals, leaving only devastation in their wake."
	die_sound=hiss-die.wav
	{DEFENSE_ANIM "units/undead-saurians/S1-husk/saurian-terror.png" "units/undead-saurians/S1-husk/saurian-terror.png" hiss-hit.wav }
    [abilities]
        {ABILITY_REGENERATES}
    [/abilities]
	[attack]
		name=claws
		description=_"claws"
		icon=attacks/claws-undead.png
		type=blade
		range=melee
		damage=8
		number=5
        [specials]
            {WEAPON_SPECIAL_POISON}
        [/specials]
	[/attack]
	
    [attack]
        name=bite
        description=_"charging bite"
        icon=attacks/fangs.png
        type=pierce
        [specials]
            {WEAPON_SPECIAL_BACKSTAB}
        [/specials]
        range=melee
        damage=11
        number=2
    [/attack]
	
	[attack_anim]
		[filter_attack]
			name=claws
		[/filter_attack]
		[frame]
			begin=-250
			end=-125
			image="units/undead-saurians/S1-husk/saurian-terror.png"
		[/frame]
		[if]
			hits=yes
			[frame]
				begin=-125
				end=-50
				image="units/undead-saurians/S1-husk/saurian-terror.png"
				sound=claws.ogg
			[/frame]
		[/if]
		[else]
			hits=no
			[frame]
				begin=-125
				end=-50
				image="units/undead-saurians/S1-husk/saurian-terror.png"
				sound={SOUND_LIST:MISS}
			[/frame]
		[/else]
		[frame]
			begin=-50
			end=200
			image="units/undead-saurians/S1-husk/saurian-terror.png"
		[/frame]
	[/attack_anim]
	
   [attack_anim]
        [filter_attack]
            name=bite
        [/filter_attack]
        start_time=-250
		[frame]
			image="units/undead-saurians/S1-husk/saurian-terror.png:300"
		[/frame]
        {SOUND:HIT_AND_MISS bite.ogg {SOUND_LIST:MISS} -150}
    [/attack_anim]
[/unit_type]
