#textdomain wesnoth-vp
[unit_type]
    id=Ref Saurian Cannibal
    name= _ "Saurian Cannibal"
    race=thief-lizard
    image="units/saurians/S1-cannibal/cannibal.png"
    hitpoints=32
    movement_type=lizard
    movement=5
    experience=32
	gender=female
    level=1
    alignment=chaotic
	{TRAIT_STRONG_BANDIT}
    advances_to=null
    cost=15
    usage=fighter
    description= _ "Saurian tribes rarely maintain anything resembling a standing army, fighting primarily with hit-and-run raiding tactics by the tribe's hunters and scouts. The largest and strongest saurians are often designated to defend the village and serve as shock troops in time of war. Being the closest thing the tribe has to dedicated soldiers, they generally prefer the club over the traditional saurian hunting spear, making them all the more effective in battles against rival tribes."
	{DEFENSE_ANIM_DIRECTIONAL "units/saurians/S1-cannibal/cannibal.png" "units/saurians/S1-cannibal/cannibal-se-melee7.png" "units/saurians/S1-cannibal/cannibal.png" "units/saurians/S1-cannibal/cannibal-se-melee7.png" hiss-hit.wav }
	die_sound=hiss-die.wav
    {STANDING_ANIM_DIRECTIONAL_6_FRAME "units/saurians/S1-cannibal/cannibal"}
	{MOVING_ANIM_DIRECTIONAL_6_FRAME "units/saurians/S1-cannibal/cannibal"}
	#{DEATH_ANIM_DIRECTIONAL_4_FRAME "units/saurians/S1-cannibal/cannibal"}
	
    [abilities]
        {ABILITY_FEEDING}
    [/abilities]
	
    [attack]
		name=club
		description=_"club"
		range=melee
		type=impact
		damage=6
		number=3
	[/attack]

    [attack_anim]
		[filter_attack]
			name=club
		[/filter_attack]
		offset=0.0~0.3,0.3~0.45,0.45~0.3,0.3~0.0
		start_time=0
		start_time=-700
		attack_sound_start_time=-400
		[if]
			hits=yes
			[attack_sound_frame]
				sound=club.ogg
			[/attack_sound_frame]
		[/if]
		[else]
			hits=no
			[attack_sound_frame]
				sound=club-miss.ogg
			[/attack_sound_frame]
		[/else]
		[frame]
            image=units/saurians/S1-cannibal/cannibal-se-melee[1~7].png:100
        [/frame]
				
	[/attack_anim]
[/unit_type]
